@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveBtnIn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #ffd1e3;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4.187rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  padding: 3rem 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #a367b1, #392467);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #392467; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-button {
  margin-top: 1.6rem; }

.btn {
  margin-top: 3rem; }
  .btn--white {
    background-color: #ffd1e3;
    color: #a367b1;
    padding: 1.5rem 4rem;
    display: inline-block; }
    .btn--white::after {
      background-color: #ffd1e3; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.964); }
  .btn:active {
    transform: translateY(-1px); }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }
  .btn--animated {
    animation: moveBtnIn 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #392467;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #392467;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  color: #ffd1e3;
  background-color: #392467;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.15) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid #392467; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section-about {
  max-width: 129rem;
  margin: 0 auto; }
  .section-about__row {
    width: calc((100% - 3rem) / 2);
    margin: 0 auto;
    text-align: center;
    float: left;
    padding: 0 4.6rem; }
    .section-about__row:not(:last-child) {
      margin-bottom: 3rem; }
    .section-about__row::after {
      content: '';
      display: table;
      clear: both; }
    .section-about__row__paragraph {
      margin-bottom: 1.6rem; }
  .section-about .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3);
    background-color: red;
    float: left;
    margin-bottom: 3rem;
    height: 10rem; }
    .section-about .col-1-of-3:not(:last-child) {
      margin-right: 3rem; }
  .section-about .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3) + 3rem);
    background-color: red;
    float: left;
    margin-bottom: 3rem;
    height: 10rem; }
    .section-about .col-2-of-3:not(:last-child) {
      margin-right: 3rem; }
  .section-about .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4);
    background-color: red;
    float: left;
    margin-bottom: 3rem;
    height: 10rem; }
    .section-about .col-1-of-4:not(:last-child) {
      margin-right: 3rem; }
  .section-about .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem);
    background-color: red;
    float: left;
    margin-bottom: 3rem;
    height: 10rem; }
    .section-about .col-2-of-4:not(:last-child) {
      margin-right: 3rem; }
  .section-about .col-3-of-4 {
    width: calc( calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem ));
    background-color: red;
    float: left;
    margin-bottom: 3rem;
    height: 10rem; }
    .section-about .col-3-of-4:not(:last-child) {
      margin-right: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(57, 36, 103, 0.654), rgba(93, 53, 135, 0.624)), url(../img/bkgimg.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #ffd1e3;
  padding: 15rem 10rem 50rem 10rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: -20vh; }
  .section-about__row {
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-align: left; }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .heading-tertiary:nth-child(3) {
    margin-top: 2rem; }

/* 
website color
Navy-Blue: #392467
Dark-Blue: #5D3587
Blue: #A367B1
Light-Blue: #FFD1E3 
*/
