// colors
$color-primary: #392467;
$color-primary-dark: #5d3587;
$color-primary-light: #a367b1;
$color-primary-lighter: #ffd1e3;
$color-white: #fff;
$color-black: #000;

// primary typography variables
$primary-font-size-main: 6rem;
$primary-font-size-sub: 2rem;
$primary-font-weight: 400;

$secondary-heading-font-size: 3.5rem;
$tertiary-heading-font-size: 1.4rem;
$tertiary-button-font-size: 1.6rem;

//grid variables

$grid-width: 129rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 3rem;
$grid-height: 10rem;
