.section-about {
  background-color: $color-primary-lighter;
  padding: 15rem 10rem 50rem 10rem;
  color: rgba($color-black, 0.8);
  margin-top: -20vh;
  &__row {
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-align: left;
  }
}

.heading-tertiary {
  font-size: $tertiary-heading-font-size;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &:nth-child(3) {
    margin-top: 2rem;
  }
}
